body{
    background-image: url(./stars2.jpg);
    background-size: 850px 450px;
    background-repeat: no-repeat;   
    margin: 0 auto; 
    font-family: 'roboto', sans-serif; 
   
    
}


h1{
   font-size:60px;
   color:white;
   padding-top: 10%;
   padding-bottom: 12%;
   margin-left: auto;
    margin-right: auto;
    width: 14em
   
  

}
section{
    display:flex;
    height: 324px;
    width: 850px;
    flex-direction: row;
    justify-content:space-between;

    
}

article{
height: 270px;
width:374px;
background-color: lightgrey;
flex-direction: column;


}
@media (max-width: 600px) {
body{
    background-size:374px 270px;
    
}
h1{
    padding-bottom:100px;
    margin-left: auto;
    margin-right: auto;
    width:4em;
}

section{
display: inline;

}

article{
height:auto;
}