@media (min-width: 992px){
    body{
    width: 100%;
     
   
}
header{
    height: 40px;
    background:yellow;
    margin-bottom:1%;
    text-align: center;
}
.square{
   display:block;
    position: absolute;
    left: 50%;
    
}

.square:hover :nth-child(odd){
    transform: translate(500px) scale(2) rotate(360deg);
    animation-fill-mode: forwards;
}
.square:hover :nth-child(even){
    transform: translate(-500px)  scale(.5) rotate(-360deg);
    animation-fill-mode: forwards;
    
}

}
#blue{
    width: 50px;
    height:50px;
    background:blue;  
    transition: all 4s ease-out;
}
#orange{
    width: 50px;
    height:50px;
    background:orange;
    transition: all 4s ease-out;
}
#pink{
    width: 50px;
    height:50px;
    background:pink;
    transition: 4s ease-out;
}
#black{
    width: 50px;
    height:50px;
    background:black;
    transition: 4s ease-out;
}
#red{
    width: 50px;
    height:50px;
    background:red;
    transition: 4s ease-out;
}
#med{
    width: 50px;
    height:50px;
    background:mediumturquoise;
    transition: 4s ease-out;
}
#green{
    width: 50px;
    height:50px;
    background:green;
    transition: 4s ease-out;
}
#yellow{
    width: 50px;
    height:50px;
    background:yellow;
    transition: 4s ease-out;
}
#grey{
    width: 50px;
    height:50px;
    background:grey;
    transition: 4s ease-out;
}
#purple{
    width: 50px;
    height:50px;
    background:purple;
    transition: 4s ease-out;
}
#hotpink{
    width: 50px;
    height:50px;
    background:hotpink;
    transition: 4s ease-out;
}
#aqua{
    width: 50px;
    height:50px;
    background:aqua;
    transition: 4s ease-out;
}


}