#game-board{
display:grid;
grid-template-columns: repeat(3, 1fr);
width:300px;
height:300px;
border: 3px solid black;
margin-left:calc(50vw - 150px);   
margin-top:5%;
font-size:40px;
text-align: center;
}
.button{
    font-size:50px;
    border: 3px solid black;
    margin-left:14%; 
    border-radius: 15%;
}
#x{
    margin-left:calc(50vw - 150px);
}
#space1{
    border: 3px solid black;
}
#space2{
    border: 3px solid black;
}
#space3{
    border: 3px solid black;
}
#space4{
    border: 3px solid black;
}
#space5{
    border: 3px solid black;
}
#space6{
    border: 3px solid black;
}
#space7{
    border: 3px solid black;
}
#space8{
    border: 3px solid black;
}
#space9{
    border: 3px solid black;
}
#clear{
    display:none;
    margin-top:2%;
    margin-left:46%;
    font-size:30px;
    border: 3px solid black;
}